@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
    position: relative;
    /* top : 500px; */
    text-align: center;
    background-color: white;
    padding: 5%;
    margin: 2rem;
}

.colorContainer{ 
    
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(100px,1fr));
    gap: 1rem;
    margin: 2% 10% 0 5%;
}

.colorEle{
    width: 100px;
    height: 150px;
    background-color: aqua;
    border-radius: 25%;
    cursor: pointer;
}
.colorEle:hover{
  width: 90px;
  height: 135px;
}

@keyframes move-down {
    0% {
      transform: translateY(-25%);
    }
    100% {
      transform: translateY(25%);
    }
    
  }

 .downArrow-animated{
    animation: move-down 1s ease infinite alternate;
 }

 footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  position: relative;
  top: 850vh;
  width: 100%;
  height: auto; /* Adjust this value to set the height of the footer */
  background-color: black;
  color: white;
  padding : 5% 0 5% 20%;
  
 }

.content {
  flex-grow: 1;
}